*{
    padding: 0%;
    margin: 0;

}
input ,textarea , select , button{
    font-family: inherit;
}
body{
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    margin: 15px auto;
    width: 550px;
    border-radius: 5px;
    background-color: #eef;
    box-shadow: 0 0 8px;
    /* opacity: 60%; */
}
fieldset{
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
}
label{
    width: 110px;
    font-size: 14px;
    display: inline-block;
}
label.radio , label.check{
    width: 80px;
}
legend{
    padding: 5px;
}
.box{
    box-shadow: 3px 3px 5px #ddd inset;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}
input{
    margin: 8px;
    width: 180px;
    direction: ltr;
}
input[name="fullname"]{
    direction: rtl;
    box-shadow: 3px 3px 5px #ddd inset;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}
input[type="radio"],input[type="checkbox"]{
    width: 10px;
    vertical-align: middle;
}
select{
    margin: 8px;
    width: 120px;
}
textarea{
    margin: 8px;
    resize: none;
    width: 280px;
    height: 130px;
    vertical-align: middle;
}
.button{
    width: 70px;
    padding: 6px 8px;
    background-image: linear-gradient(#ccf , #aad);
    border: 1px solid gray;
    border-radius: 4px;
}
.button:first-of-type{
    margin-right: 200px;
}
.button:hover{
    background-image: linear-gradient(#aad , #88b);
}